app/code/community/InstaSIM/KbankQR/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="https://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
  name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
      <complexType name="orderInfo">
        <sequence>
          <element name="increment_id" type="xsd:string"/>
          <element name="amount" type="xsd:string"/>
          <element name="comment" type="xsd:string" minOccurs="0"/>
        </sequence>
      </complexType>
      <complexType name="orderInfoArray">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:orderInfo[]" />
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="kbankqrInvoiceManyResponse">
        <sequence>
          <element name="increment_id" type="xsd:string"/>
          <element name="invoice_id" type="xsd:string"/>
          <element name="error" type="xsd:string" minOccurs="0"/>
        </sequence>
      </complexType>
      <complexType name="kbankqrInvoiceManyResponseArray">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:kbankqrInvoiceManyResponse[]" />
          </restriction>
        </complexContent>
      </complexType>
    </schema>
  </types>
  <message name="kbankqrInvoiceManyRequest">
    <part name="sessionId" type="xsd:string" />
    <part name="orderInfoList" type="typens:orderInfoArray" />
  </message>
  <message name="kbankqrInvoiceManyResponse">
    <part name="result" type="typens:kbankqrInvoiceManyResponseArray" />
  </message>
  <portType name="{{var wsdl.handler}}PortType">
    <operation name="kbankqrInvoiceMany">
      <documentation>Create invoices based on list of order increment IDs, amounts and comments.</documentation>
      <input message="typens:kbankqrInvoiceManyRequest" />
      <output message="typens:kbankqrInvoiceManyResponse" />
    </operation>
  </portType>
  <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="kbankqrInvoiceMany">
      <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
      <input>
        <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="{{var wsdl.name}}Service">
    <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
      <soap:address location="{{var wsdl.url}}" />
    </port>
  </service>
</definitions>